html,body{
    height: 100%;
    margin: 0;
    font-size: 16px;
    font-family: "Lato",sans-serif;
    font-weight: 400;
    line-height: 1.8rem;
    color: #666;
}
.pimg1{
    background-image: url(image1.png);
    min-height: 100%;
}
.pimg2{
    background-image: url(image2.png);
    min-height: 400px;
}
.pimg3{
    background-image: url(image3.png);
    min-height: 400px;
}
.pimg1, 
.pimg2,
.pimg3{
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
.ptext{
    position: absolute;
    top: 50%;
    width: 100%;
    color: white;
    font-size: 30px;
    text-transform: uppercase;
    text-align: center;
    font-weight: 550;
}
.textbg{
    background-color: #666;
    padding: 10px 20px;
}
.section1{
    padding: 50px 80px;
    text-align: center;
    background-color: black;
    color: white;
}
.section1 h2{
    font-weight: 400;
    text-transform: uppercase;
}
.section2{
    padding: 50px 80px;
    text-align: center;
    background-color: white;
    color: black;
}
.section2 h2{
    font-weight: 400;
    text-transform: uppercase;
}
.section3{
    padding: 50px 80px;
    text-align: center;
    background-color: white;
    color: black;
}
.section3 h2{
    font-weight: 400;
    text-transform: uppercase;
}

